.footer {
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #545454;
  margin: 70px 0 70px 0;
}

@media screen and (max-width: 880px) {
  .footer {
    margin: 0 20px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
