@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/profile.css");
@import url("../blocks/cards.css");
@import url("../blocks/footer.css");

@media screen and (max-width: 880px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }

  .header {
    padding-top: 45px;
  }

  .profile {
    padding: 40px 0 0;
  }

  .cards {
    margin-top: 30px;
  }

  .footer {
    margin: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .profile__description {
    width: 100%;
    text-align: center;
  }
  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
